.slider{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    width: 95%;
    margin: 0 auto;
    overflow-x: auto;
}

.slick-slide > div {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
}

.slick-list {
    margin: 0 10px;
}

.detail{
    margin-right: 0;
    margin-left: 0;
    max-width: 100%;
}

.arrow{
    display: "block"; 
    background: "red"; 
}

.card-width{
    width: 20rem;
}